# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pt
*.onnx
*.toml
*.plan
*.engine
*.pbtxt
# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.log
# Kubernetes
kubeconfig
*.kubeconfig

# Local data
/data
/uploads
/model_repository/
/app/results/
/k8s/**/exported_models/